*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font-weight:normal;
  font-style:normal;
  list-style:none
}
*::before,*::after{
  box-sizing:inherit
}
html,body{
  background-color:transparent
}
body{
  line-height:1.4;
  color:#444;
  font-family:-apple-system, 'BlinkMacSystemFont', Helvetica, Roboto, Sans-Serif;
  font-size:16px;
  -webkit-user-select:none;
  -webkit-text-size-adjust:none
}
a{
  -webkit-touch-callout:none
}
a:link,a:visited,a:hover,a:active,a:focus{
  text-decoration:none
}
b,em,strong{
  font-weight:bold
}
.LySlider{
  overflow:hidden;
  overflow-x:scroll;
  -webkit-overflow-scrolling:touch
}
.LySlider::-webkit-scrollbar{
  display:none
}
.LySlider .lyInner{
  display:-webkit-box;
  display:flex;
  width:100%
}
.LySlider .lyInner::after{
  -webkit-box-flex:0;
  flex:none;
  content:"";
  display:block;
  width:7px;
  height:1px
}
.LySlider .lyItem{
  -webkit-box-flex:0;
  flex:none;
  display:inherit;
  width:80%;
  max-width:300px;
  margin-left:7px
}
.LySlider .lyItem+.lyItem{
  margin-left:9px
}
.LySlider .T1{
  -webkit-box-flex:1;
  flex:1 1 auto
}
.LySlider .T1 .t1Header{
  -webkit-box-flex:0;
  flex:none
}
.LySlider .T1 .t1Hero{
  -webkit-box-flex:0;
  flex:none
}
.LySlider .T1 .t1Hero:last-child{
  border-radius:0
}
.LySlider .T1 .t1Body{
  -webkit-box-flex:1;
  flex:1 1 auto
}
.LySlider .T1 .t1Body>.MdBx.vr{
  -webkit-box-flex:1;
  flex:1 1 auto
}
.T1{
  border-radius:17px;
  overflow:hidden;
  background-color:#ffffff;
  display:-webkit-box;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  flex-direction:column
}
.T1 .t1Header,.T1 .t1Hero,.T1 .t1Body,.T1 .t1Footer{
  display:inherit;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  flex-direction:column;
  padding:20px 20px 20px 20px
}
.T1 .t1Hero{
  padding:0
}
.T1 .t1Hero:first-child,.T1 .t1Hero:first-child .MdImg.ExFull,.T1 .t1Hero:first-child .MdImg.ExFull>div,.T1 .t1Hero:first-child .MdImg.ExFull>div>a,.T1 .t1Hero:first-child .MdImg.ExFull>div>a>span{
  border-top-left-radius:inherit;
  border-top-right-radius:inherit
}
.T1 .t1Hero:last-child,.T1 .t1Hero:last-child .MdImg.ExFull,.T1 .t1Hero:last-child .MdImg.ExFull>div,.T1 .t1Hero:last-child .MdImg.ExFull>div>a,.T1 .t1Hero:last-child .MdImg.ExFull>div>a>span{
  border-bottom-left-radius:inherit;
  border-bottom-right-radius:inherit
}
.T1 .t1Hero:first-child .MdImg.ExFull>div>a>span,.T1 .t1Hero:last-child .MdImg.ExFull>div>a>span{
  overflow:hidden
}
.T1 .t1Body{
  padding-top:19px
}
.T1 .t1Body > .MdBx {
  padding: 20px;
  padding-top: 19px;
}
.T1 .t1Body.ExHasFooter{
  padding-bottom:10px
}
.T1 .t1Footer{
  padding:10px 10px 10px 10px
}
.fxLTR,[dir="ltr"]{
  direction:ltr
}
.fxRTL,[dir="rtl"]{
  direction:rtl
}
.MdHide{
  position:absolute;
  width:1px;
  height:1px;
  overflow:hidden;
  clip:rect(0, 0, 0, 0);
  margin:-1px;
  padding:0;
  border:0
}
.MdNonDisp{
  display:none !important
}
.MdBx,[class*=MdSep],.MdTxt,.MdIco,.MdBtn,.MdImg{
  -webkit-box-flex:1;
  flex:1 1 auto;
  display:-webkit-box;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  flex-direction:column;
  width:auto;
  min-width:0;
  max-width:100%
}
.MdBx{
  overflow:hidden;
  position: relative;
  border: 0 solid transparent;
}
.MdBx.br{
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  flex-direction:row;
  align-items: baseline;
  width:100%
}
.MdBx.vr>div{
  -webkit-box-flex:0;
  flex:none
}
.MdBx.hr{
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  flex-direction:row;
  width:100%
}
.MdBx.hr>div{
  width:0;
  overflow:hidden;
  -webkit-box-flex:1;
  flex:1 1 auto
}
.MdBx.hr>div.MdSep{
  overflow:visible
}
.MdBx.hr>div.fl0{
  width:auto
}
.MdBx.hr>div.fl0.MdImg.ExFull{
  width:100%
}
.MdBx.hr>div[class*="MdSep"]{
  -webkit-box-flex:0;
  flex:none
}
.MdBx.hr.bl{
  -webkit-box-align:baseline;
  align-items:baseline
}
.T1 .MdBx.hr.spcXs>div{
  margin-left:2px
}
.T1 .MdBx.hr.spcSm>div{
  margin-left:4px
}
.T1 .MdBx.hr.spcMd>div{
  margin-left:8px
}
.T1 .MdBx.hr.spcLg>div{
  margin-left:12px
}
.T1 .MdBx.hr.spcXl>div{
  margin-left:16px
}
.T1 .MdBx.hr.spcXxl>div{
  margin-left:20px
}
.T1 .MdBx.hr>div:first-child{
  margin-left:0
}
.T1.fxRTL .MdBx.hr>div{
  margin-left:0
}
.T1.fxRTL .MdBx.hr.spcXs>div{
  margin-right:2px
}
.T1.fxRTL .MdBx.hr.spcSm>div{
  margin-right:4px
}
.T1.fxRTL .MdBx.hr.spcMd>div{
  margin-right:8px
}
.T1.fxRTL .MdBx.hr.spcLg>div{
  margin-right:12px
}
.T1.fxRTL .MdBx.hr.spcXl>div{
  margin-right:16px
}
.T1.fxRTL .MdBx.hr.spcXxl>div{
  margin-right:20px
}
.T1.fxRTL .MdBx.hr>div:first-child{
  margin-right:0
}
.MdBx.vr.spcXs>div{
  margin-top:2px
}
.MdBx.vr.spcSm>div{
  margin-top:4px
}
.MdBx.vr.spcMd>div{
  margin-top:8px
}
.MdBx.vr.spcLg>div{
  margin-top:12px
}
.MdBx.vr.spcXl>div{
  margin-top:16px
}
.MdBx.vr.spcXxl>div{
  margin-top:20px
}
.MdBx.vr>div:first-child{
  margin-top:0
}
.MdBx>div.fl0{
  -webkit-box-flex:0;
  flex:none
}
.MdBx>div.fl1{
  -webkit-box-flex:1;
  flex:1 1 auto
}
.MdBx>div.fl2{
  -webkit-box-flex:2;
  flex:2 2 auto
}
.MdBx>div.fl3{
  -webkit-box-flex:3;
  flex:3 3 auto
}
.MdBx>div.algS{
  -webkit-box-align:start;
  align-items:flex-start
}
.MdBx>div.algE{
  -webkit-box-align:end;
  align-items:flex-end
}
.MdBx>div.grvC{
  -webkit-box-pack:center;
  justify-content:center
}
.MdBx>div.grvB{
  -webkit-box-pack:end;
  justify-content:flex-end
}
.MdBx>div.mdBxFiller{
  -webkit-box-flex:1;
  flex:1 1 auto;
  margin:0
}
.MdBx>div.mdBxSpacer{
  -webkit-box-flex:0;
  flex:none
}
.MdBx.hr>div.mdBxSpacer{
  height:1px
}
.MdBx.hr>div.mdBxSpacer.spcXs{
  width:2px
}
.MdBx.hr>div.mdBxSpacer.spcSm{
  width:4px
}
.MdBx.hr>div.mdBxSpacer.spcMd{
  width:8px
}
.MdBx.hr>div.mdBxSpacer.spcLg{
  width:12px
}
.MdBx.hr>div.mdBxSpacer.spcXl{
  width:16px
}
.MdBx.hr>div.mdBxSpacer.spcXxl{
  width:20px
}
.MdBx.hr[class*="spc"]>div.mdBxSpacer{
  margin-left:0
}
.MdBx.hr[class*="spc"]>div.mdBxSpacer+div{
  margin-left:0
}
.MdBx.vr>div.mdBxSpacer{
  width:1px
}
.MdBx.vr>div.mdBxSpacer.spcXs{
  height:2px
}
.MdBx.vr>div.mdBxSpacer.spcSm{
  height:4px
}
.MdBx.vr>div.mdBxSpacer.spcMd{
  height:8px
}
.MdBx.vr>div.mdBxSpacer.spcLg{
  height:12px
}
.MdBx.vr>div.mdBxSpacer.spcXl{
  height:16px
}
.MdBx.vr>div.mdBxSpacer.spcXxl{
  height:20px
}
.MdBx[class*="spc"]>div.mdBxSpacer{
  margin-top:0
}
.MdBx[class*="spc"]>div.mdBxSpacer+div{
  margin-top:0
}
[class*=MdSep]{
  -webkit-box-flex:0;
  flex:none;
  box-sizing:content-box;
  width:100%;
  border:0 solid #d4d6da
}
.MdSep{
  position:relative;
  -webkit-box-flex:0;
  flex:none;
  width: 100%;
  border: 0 solid #d4d6da;
}
.MdSep::before{
  box-sizing:content-box;
  content:"";
  display:block;
  position:absolute;
  z-index:1;
  width:100%;
  height:1px;
  border:inherit;
  border-top-width:1px;
  -webkit-transform-origin:left top;
  transform-origin:left top;
  -webkit-transform:scaleY(0.5);
  transform:scaleY(0.5)
}
.MdSep:last-child::before{
  margin-top:-1px;
  border-top-width:0;
  border-bottom-width:1px
}
.fxRTL .MdSep::before{
  -webkit-transform-origin:right top;
  transform-origin:right top
}
.MdSepB{
  border-top-width:1px
}
.MdBx.hr>div.MdSep::before{
  width:1px;
  height:100%;
  border-top-width:0;
  border-left-width:1px;
  -webkit-transform:scaleX(0.5);
  transform:scaleX(0.5)
}
.MdBx.hr>div.MdSep:last-child::before{
  margin-top:0;
  margin-left:-1px;
  border-left-width:0;
  border-right-width:1px
}
.MdBx.hr>div.MdSepB{
  border-top-width:0;
  border-left-width:1px
}
.fxRTL .MdBx.hr>div.MdSep::before{
  border-left-width:0;
  border-right-width:1px
}
.fxRTL .MdBx.hr>div.MdSep:last-child::before{
  margin-left:0px;
  margin-right:-1px;
  border-right-width:0;
  border-left-width:1px
}
.MdTxt {
  position: relative;
  font-family: system-ui !important;
}
.MdTxt p{
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap
}
.MdTxt p:empty{
  height:1.4em
}
.MdTxt.ExWrap p{
  text-overflow:clip;
  word-wrap:break-word;
  white-space:normal
}
.MdTxt.Ex2nd{
  color:#aaa
}
.MdTxt.ExAlgC p{
  text-align:center
}
.MdTxt.ExAlgE p{
  text-align:end
}
.MdTxt.ExWL p{
  font-weight:300
}
.MdTxt.ExWB p{
  font-weight:bold
}
.MdIco span{
  display:inline-block;
  overflow:hidden;
  background:no-repeat center;
  background-size:contain;
  width:1em;
  height:1em;
  vertical-align:baseline
}
.MdIco.ExAr2to1 span{
  width:2em
}
.MdIco.ExAr3to1 span{
  width:3em
}
.MdTxt p span.ExXxs,
.MdTxt.ExXxs p,
.MdIco.ExXxs{
  font-size:11px

}
.MdTxt p span.ExXs,
.MdTxt.ExXs p,
.MdIco.ExXs{
  font-size:13px

}
.MdTxt p span.ExSm,
.MdTxt.ExSm p,
.MdIco.ExSm{
  font-size:14px
}
.MdTxt p span.ExMd,
.MdTxt.ExMd p,
.MdIco.ExMd{
  font-size:16px
}
.MdTxt p span.ExLg,
.MdTxt.ExLg p,
.MdIco.ExLg{
  font-size:19px
}
.MdTxt p span.ExXl,
.MdTxt.ExXl p,
.MdIco.ExXl{
  font-size:22px
}
.MdTxt p span.ExXxl,
.MdTxt.ExXxl p,
.MdIco.ExXxl{
  font-size:29px
}
.MdTxt p span.Ex3xl,
.MdTxt.Ex3xl p,
.MdIco.Ex3xl{
  font-size:35px
}
.MdTxt p span.Ex4xl,
.MdTxt.Ex4xl p,
.MdIco.Ex4xl{
  font-size:48px
}
.MdTxt p span.Ex5xl,
.MdTxt.Ex5xl p,
.MdIco.Ex5xl{
  font-size:74px
}
.MdBtn {
  position: relative;
}
.MdBtn a{
  display:inherit;
  -webkit-box-align:center;
  align-items:center;
  -webkit-box-pack:center;
  justify-content:center;
  width:100%;
  height:52px;
  padding:0 16px;
  border-radius:8px;
  font-size:16px
}
.MdBtn div{
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  max-width:100%
}
.MdBtn.ExBtn1 a{
  background-color:#17c950;
  color:#fff
}
.MdBtn.ExBtn2 a{
  background-color:#dcdfe5;
  color:#111
}
.MdBtn.ExBtnL a{
  color:#42659a
}
.MdBtn.ExSm a{
  height:40px
}
.MdImg{
  -webkit-box-align:center;
  align-items:center;
  overflow:hidden;
  width:100%
}
.MdImg>div{
  max-width:100%
}
.MdImg a{
  display:block;
  position:relative;
  width:100%
}
.MdImg span{
  display:block;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  overflow:hidden;
  background-repeat:no-repeat;
  background-position:center center
}
.MdImg.ExXxs>div{
  width:40px
}
.MdImg.ExXs>div{
  width:60px
}
.MdImg.ExSm>div{
  width:80px
}
.MdImg.ExMd>div{
  width:100px
}
.MdImg.ExLg>div{
  width:120px
}
.MdImg.ExXl>div{
  width:140px
}
.MdImg.ExXxl>div{
  width:160px
}
.MdImg.Ex3xl>div{
  width:180px
}
.MdImg.Ex4xl>div{
  width:200px
}
.MdImg.Ex5xl>div{
  width:220px
}
.MdImg.ExFull>div{
  width:100%
}
.MdImg.ExAr1to1 a{
  padding-bottom:100%
}
.MdImg.ExAr1_51to1 a{
  padding-bottom:66.22517%
}
.MdImg.ExAr1_91to1 a{
  padding-bottom:52.35602%
}
.MdImg.ExAr20to13 a{
  padding-bottom:65%
}
.MdImg.ExAr4to3 a{
  padding-bottom:75%
}
.MdImg.ExAr16to9 a{
  padding-bottom:56.25%
}
.MdImg.ExAr2to1 a{
  padding-bottom:50%
}
.MdImg.ExAr3to1 a{
  padding-bottom:33.33333%
}
.MdImg.ExAr3to4 a{
  padding-bottom:133.33333%
}
.MdImg.ExAr9to16 a{
  padding-bottom:177.77778%
}
.MdImg.ExAr1to2 a{
  padding-bottom:200%
}
.MdImg.ExAr1to3 a{
  padding-bottom:300%
}
.MdImg.ExFit span{
  background-size:contain
}
.MdImg.ExCover span{
  background-size:cover
}
.MdImg.ExCircle span{
  border-radius:50%
}
.MdImg.ExMirrored span{
  -webkit-transform:scaleX(-1);
  transform:scaleX(-1)
}
.ExMgnTNone{
  margin-top:0 !important
}
.ExMgnTXs{
  margin-top:2px !important
}
.ExMgnTSm{
  margin-top:4px !important
}
.ExMgnTMd{
  margin-top:8px !important
}
.ExMgnTLg{
  margin-top:12px !important
}
.ExMgnTXl{
  margin-top:16px !important
}
.ExMgnTXxl{
  margin-top:20px !important
}
.ExMgnLNone{
  margin-left:0 !important
}
.ExMgnLXs{
  margin-left:2px !important
}
.ExMgnLSm{
  margin-left:4px !important
}
.ExMgnLMd{
  margin-left:8px !important
}
.ExMgnLLg{
  margin-left:12px !important
}
.ExMgnLXl{
  margin-left:16px !important
}
.ExMgnLXxl{
  margin-left:20px !important
}
.ExMgnRNone{
  margin-right:0 !important
}
.ExMgnRXs{
  margin-right:2px !important
}
.ExMgnRSm{
  margin-right:4px !important
}
.ExMgnRMd{
  margin-right:8px !important
}
.ExMgnRLg{
  margin-right:12px !important
}
.ExMgnRXl{
  margin-right:16px !important
}
.ExMgnRXxl{
  margin-right:20px !important
}
.w-280px {
  width: 280px;
}
.w-300px {
  width: 300px;
}
.bd-w-1px {
  border-width: 1px;
}
.bd-st-solid {
  border-style: solid;
}
.bd-cl-grey-light {
  border-color: rgba(0, 0, 0, 0.45);
}
.pd-20px {
  padding: 20px;
}
.pd-10px {
  padding: 10px;
}
.ExAbs {
  position: absolute;
  margin: 0;
  width: auto;
  /* right: 0;
  top: 20px;
  left: 20px; */
}
.ExBdrRadNone {
  border-radius: 0!important;
}
.ExBdrRadXs {
  border-radius: 2px!important;
}
.ExBdrRadSm {
  border-radius: 4px!important;
}
.ExBdrRadMd {
  border-radius: 8px!important;
}
.ExBdrRadLg {
  border-radius: 12px!important;
}
.ExBdrRadXl {
  border-radius: 16px!important;
}
.ExBdrRadXxl {
  border-radius: 20px!important;
}
.ExBdrWdtNone {
  border-width: 0!important;
}
.ExBdrWdtLight {
  border-width: 0.5px!important;
}
.ExBdrWdtNormal {
  border-width: 1px!important;
}
.ExBdrWdtMedium {
  border-width: 2px!important;
}
.ExBdrWdtSemi-bold {
  border-width: 3px!important;
}
.ExBdrWdtBold {
  border-width: 4px!important;
}
.ExImgAbs {
  position: absolute;
  margin: 0!important;
  width: auto !important;
}

.ExPadANone {
  padding: 0!important;
}
.ExPadAXs {
  padding: 2px!important;
}
.ExPadASm {
  padding: 4px!important;
}
.ExPadAMd {
  padding: 8px!important;
}
.ExPadALg {
  padding: 12px!important;
}
.ExPadAXl {
  padding: 16px!important;
}
.ExPadAXxl {
  padding: 20px!important;
}

.ExPadTNone {
  padding-top: 0!important;
}
.ExPadTXs {
  padding-top: 2px!important;
}
.ExPadTSm {
  padding-top: 4px!important;
}
.ExPadTMd {
  padding-top: 8px!important;
}
.ExPadTLg {
  padding-top: 12px!important;
}
.ExPadTXl {
  padding-top: 16px!important;
}
.ExPadTXxl {
  padding-top: 20px!important;
}

.ExPadBNone {
  padding-top: 0!important;
}
.ExPadBXs {
  padding-top: 2px!important;
}
.ExPadBSm {
  padding-top: 4px!important;
}
.ExPadBMd {
  padding-top: 8px!important;
}
.ExPadBLg {
  padding-top: 12px!important;
}
.ExPadBXl {
  padding-top: 16px!important;
}
.ExPadBXxl {
  padding-top: 20px!important;
}

.ExPadSNone {
  padding-top: 0!important;
}
.ExPadSXs {
  padding-top: 2px!important;
}
.ExPadSSm {
  padding-top: 4px!important;
}
.ExPadSMd {
  padding-top: 8px!important;
}
.ExPadSLg {
  padding-top: 12px!important;
}
.ExPadSXl {
  padding-top: 16px!important;
}
.ExPadSXxl {
  padding-top: 20px!important;
}

.ExPadENone {
  padding-top: 0!important;
}
.ExPadEXs {
  padding-top: 2px!important;
}
.ExPadESm {
  padding-top: 4px!important;
}
.ExPadEMd {
  padding-top: 8px!important;
}
.ExPadELg {
  padding-top: 12px!important;
}
.ExPadEXl {
  padding-top: 16px!important;
}
.ExPadEXxl {
  padding-top: 20px!important;
}

.ExBNone {
  bottom: 0!important;
}
.ExBXs {
  bottom: 2px!important;
}
.ExBSm {
  bottom: 4px!important;
}
.ExBMd {
  bottom: 8px!important;
}
.ExBLg {
  bottom: 12px!important;
}
.ExBXl {
  bottom: 16px!important;
}
.ExBXxl {
  bottom: 20px!important;
}

.ExTNone {
  top: 0!important;
}
.ExTXs {
  top: 2px!important;
}
.ExTSm {
  top: 4px!important;
}
.ExTMd {
  top: 8px!important;
}
.ExTLg {
  top: 12px!important;
}
.ExTXl {
  top: 16px!important;
}
.ExTXxl {
  top: 20px!important;
}

.ExLNone {
  left: 0!important;
}
.ExLXs {
  left: 2px!important;
}
.ExLSm {
  left: 4px!important;
}
.ExLMd {
  left: 8px!important;
}
.ExLLg {
  left: 12px!important;
}
.ExLXl {
  left: 16px!important;
}
.ExLXxl {
  left: 20px!important;
}

.ExRNone {
  right: 0!important;
}
.ExRXs {
  right: 2px!important;
}
.ExRSm {
  right: 4px!important;
}
.ExRMd {
  right: 8px!important;
}
.ExRLg {
  right: 12px!important;
}
.ExRXl {
  right: 16px!important;
}
.ExRXxl {
  right: 20px!important;
}

.LyGi {
  max-width: 500px;
}
.LyMe {
  max-width: 300px;
}
.LyKi {
  max-width: 260px;
}
.LyMi {
  max-width: 160px;
}
.LyNa {
  max-width: 120px;
}