<template>
    <div class="message-type-empty">
        <div class="message-type-empty_logo">
            <img src="../../../assets/logos/yellow_logo_mini.png" title="Yellow Idea" alt="Yellow Idea" />
        </div>
        <div class="message-type-empty_title text-dark-75">No message type added</div>
        <div class="message-type-empty_description text-dark-75">Please select message type on the left side</div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>
.message-type-empty {
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 100%;
}
.message-type-empty_logo {
    width: 60px;
    margin-bottom: 12px;
}
.message-type-empty_logo img {
    width: 100%;
}
.message-type-empty_title {
    font-size: 16px;
    font-weight: bold ;
    margin-bottom: 8px;
}
.message-type-empty_description {
    font-size: 16px;
}
</style>