<template>
    <div class="preview-card" :style="`margin-bottom: ${openPreview ? '0px' : '-540px'}`">
        <div class="preview-card_header" @click="openPreview = !openPreview">
            <div class="preview-card_row">
                <i :class="`fas fa-caret-${openPreview ? 'down' : 'up'}`"></i>
                <span class="title">Preview</span>
            </div>
        </div>
        <div class="preview-card_body">
            <div v-for="(message, index) in messages" :key="index">
                <preview-text :message="message" v-if="message.type === 'text'" />
                <preview-image :message="message" v-if="message.type === 'image'" />
                <preview-rich-message :message="message" v-if="message.type === 'imagemap'" />
                <preview-flex :message="message" v-if="message.type === 'flex'" />
            </div>
        </div>
    </div>
</template>

<script>
import PreviewText from './PreviewText'
import PreviewImage from './PreviewImage'
import PreviewRichMessage from './PreviewRichMessage'
import PreviewFlex from './PreviewFlex'

export default {
    props: ['messages'],
    components: {
        PreviewText,
        PreviewImage,
        PreviewFlex,
    },
    data() {
        return {
            openPreview: false,
        }
    },
}
</script>

<style scoped>
.preview-card {
    position: fixed;
    right: 26px;
    bottom: 0;
    z-index: 9999;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    transition: margin 0.3s ease-in-out;
    background-color: #666f86;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}
.preview-card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    background-color: #353a40;
    color: #FFFFFF;
    cursor: pointer;
}
.preview-card_header .fa-sort-desc {
    font-size: 15px;
}
.preview-card_header .title {
    margin-left: 8px;
}
.preview-card_body {
    width: 370px;
    height: 540px;
    overflow-y: auto;
    overflow-x: hidden !important;
    padding: 20px 10px;
    padding-right: 0 !important;
    user-select: none;
}
</style>