<template>
    <LineFlex :data="message" v-if="message" />
</template>

<script>
import LineFlex from '../LineFlex'

export default {
    props: ['message'],
    components: {
        LineFlex,
    },
}
</script>

<style scoped>
.chat {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 0.7rem;
}
.chat-avatar {
    margin-right: 0.75rem;
    flex-grow: 0;
    flex-shrink: 0;
}
.chat-avatar .chat-avatar-empty {
    background-color: #E1E2E6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 16px;
}
.chat-avatar .chat-avatar-empty img {
    width: 100%;
    height: 100%;
}
.chat-content .chat-header {
    color: #dee2e6;
    font-size: 14px;
    margin-bottom: 0.25rem;
}
.chat-content .chat-body {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}
.chat-main .chat-item {
    position: relative;
}
.baloon {
    border-radius: 1rem;
    display: inline-block;
    margin-right: 1.25rem;
    background: #f2f3f5;
}
.baloon::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0.75rem;
    width: 0;
    height: 0;
    border: 0.5rem solid transparent;
    border-right-color: #f2f3f5;
    border-left: 0;
    border-top: 0;
    margin-left: -0.375rem;
}
.baloon .chat-item-text {
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    text-align: left;
    color: #495057;
    position: relative;
    word-break: break-word;
    word-wrap: break-word;
    cursor: text;
}
.chat-item-image {
    border-radius: 0.5rem;
    overflow: hidden;
    width: 200px;
}
.chat-item-image img {
    width: 100%;
}
.chat-body-rich {
    padding-right: 1.50rem;
}
.chat-body-rich .chat-main .chat-item .img-fluid {
    border-radius: 4px;
    max-width: 100%;
    height: auto;
}
.display-name-text {
    color: #000000;
    font-size: 16px;
    position: absolute;
}
.display-image {
    position: absolute;
}
.display-image img {
    width: 100%;
}
</style>