<template>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <textarea
                class="form-control"
                rows="5"
                placeholder="Enter text"
                :maxLength="maxLength ? maxLength : '5000'"
                :value="text"
                :id="id"
                @input="onInputChange"
            ></textarea>
            <p class="form-text text-right text-muted">
                <strong>{{text.length}}</strong>
                <span>/{{maxLength ? maxLength : 5000}}</span>
            </p>
            <div class="btn-toolbar align-items-center" v-if="!hideTypeTextActionList">
                <!-- <button type="button" class="btn btn-outline-secondary mr-2">Emoji</button> -->
                <button
                    @click="insertPersonalization(item.name)"
                    type="button"
                    class="btn btn-outline-secondary mr-2"
                    :disabled="text.length > item.count"
                    v-for="(item, index) in actionList"
                    :key="index"
                >
                    {{item.name}}
                </button>
                <!-- <button
                    @click="insertPersonalization('Display Name')"
                    type="button"
                    class="btn btn-outline-secondary mr-2"
                    :disabled="text.length > 4984"
                >
                    Display Name
                </button>
                <button @click="insertPersonalization('First Name')" type="button" class="btn btn-outline-secondary mr-2" :disabled="text.length > 4986">First Name</button>
                <button @click="insertPersonalization('Last Name')" type="button" class="btn btn-outline-secondary mr-2" :disabled="text.length > 4987">Last Name</button>
                <button @click="insertPersonalization('Point')" type="button" class="btn btn-outline-secondary mr-2" :disabled="text.length > 4991">Point</button> -->
            </div>
            <small class="form-text text-muted mt-2">Messages containing users' display names will only appear for recipients whose profiles you have permission to view.</small>
        </div>
    </div>
</template>

<script>
export default {
    props: ['maxLength', 'item', 'id', 'hideTypeTextActionList', 'typeTextActionList'],
    data() {
        return {
            text: '',
            messages: null,
            actionList: [
                {
                    name: 'Display Name',
                    count: 4984
                },
                {
                    name: 'First Name',
                    count: 4986
                },
                {
                    name: 'Last Name',
                    count: 4987
                },
                {
                    name: 'Point',
                    count: 4991
                },
            ]
        }
    },
    mounted() {
        if(this.item.data) {
            this.text = this.item.data.text
        }

        this.messages = this.item.data

        let menus = []
        if(this.typeTextActionList && this.typeTextActionList.length > 0) {
            for (let index = 0; index < this.typeTextActionList.length; index++) {
                const element = this.typeTextActionList[index];
                const actionList = this.actionList.find(item => item.name === element)
                if(actionList) {
                    menus.push(actionList)
                }
            }
            this.actionList = menus
        }
    },
    updated() {
        if(this.item.data) {
            this.text = this.item.data.text
        }

        this.messages = this.item.data
    },
    methods: {
        onInputChange(event) {
            this.text = event.target.value
            this.messages.text = event.target.value
            this.$emit('onChange', this.item, this.messages)
        },
        insertPersonalization(name) {
            let label = ``
            if(name === 'Display Name') {
                label = ` [Display Name] `
            }
            else if(name === 'First Name') {
                label = ` [First Name] `
            }
            else if(name === 'Last Name') {
                label = ` [Last Name] `
            }
            else if(name === 'Point') {
                label = ` [Point] `
            }

            var target = document.getElementById(this.id);
            if (document.selection) {
                target.focus();
                sel = document.selection.createRange();
                sel.text = label;
            }
            //MOZILLA and others
            else if (target.selectionStart || target.selectionStart == "0") {
                var startPos = target.selectionStart;
                var endPos = target.selectionEnd;
                target.value =
                target.value.substring(0, startPos) +
                label +
                target.value.substring(endPos, target.value.length);
                target.focus()
            }
            else {
                target.value += label;
                target.focus()
            }

            this.text = target.value
            this.messages.text = target.value
            this.$emit('onChange', this.item, this.messages)
        },
    }
}
</script>

<style scoped>
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.42rem;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0.03);
    border-bottom: 1px solid rgba(0,0,0,0.125);
}
.card-body {
    padding: 1.25rem;
}
</style>