<template>
    <div class="wrap">
        <div class="des">
            <span>File format: mp4</span>
            <span>Max file size: 200 MB</span>
        </div>
        <div class="d-flex justify-content-center" v-if="messages !== null">
            <upload-video-preview
                size="10"
                v-model="messages.previewImageUrl"
                previewWidth="200px"
                previewHeight="200px"
                @input="input"
                @remove="remove"
            />
        </div>
    </div>
</template>

<script>
import UploadVideoPreview from '../UploadVideoPreview'

export default {
    props: ['item'],
    components: {
        UploadVideoPreview,
    },
    data() {
        return {
            messages: null
        }
    },
    mounted() {
        this.messages = this.item.data
    },
    updated() {
        console.log("updated Video", this.item.data)
        this.messages = this.item.data
    },
    methods: {
        input(img_url) {
            this.messages.originalContentUrl = img_url
            this.messages.previewImageUrl = img_url

            this.$emit('onChange', this.item, this.messages)
        },
        remove() {
            this.messages.originalContentUrl = ""
            this.messages.previewImageUrl = ""
        }
    }
}
</script>

<style scoped>
.wrap .des {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 386px;
    margin: 0 auto 24px;
}
</style>