<template>
    <loading v-if="!hbd_data"/>
    <fragment v-else>
        <div class="wrap" :class="{'is-invalid': formDirty && required && !hbd_data.contents.body.contents[0].url }">
            <button type="button" class="btn btn-outline-primary px-12" @click="$emit('open')">
                <span class="mr-5">{{ label }}</span>
                <i :class="icon"></i>
            </button>
        </div>
        <v-overlay :value="visible" :z-index="99999" color="rgb(230, 230, 230)">
            <div class="message-type-content">
                <div class="message-type-content_header">
                    <button
                        type="button"
                        class="btn btn-danger btn-sm font-weight-bolder"
                        style="width: 80px; margin-right: 10px"
                        @click="cancelHBD"
                    >
                        Cancel
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary btn-sm font-weight-bolder"
                        style="width: 80px"
                        @click="saveHBD"
                    >
                        Save
                    </button>
                </div>
                <div class="message-type-content_body">
                    <div class="hbd-wrap">
                        <div class="d-flex flex-column align-items-center" style="width: 35%;margin-top: 90px;">
                            <div class="form-wrap">
                                <div>Show First/Last name</div>
                                <SwitchToggle v-model="hbd_data.contents.body.contents[1].contents[2].display" />
                            </div>
                            <div class="form-wrap">
                                <div>Link Action</div>
                                <SwitchToggle v-model="hbd_data.contents.body.action.display" @input="onLinkActionChange" />
                            </div>
                            <div class="w-100" v-if="hbd_data.contents.body.action.display">
                                <input
                                    class="form-control"
                                    :class="{'is-invalid': (formDirty02 && !hbd_data.contents.body.action.uri) || !validURI}"
                                    type="text"
                                    v-model="hbd_data.contents.body.action.uri"
                                    placeholder="https://"
                                    @blur="onUriKeyBlur"
                                />
                                <div v-if="!validURI" class="text-danger font-size-sm">URI must be https</div>
                            </div>
                        </div>
                        <div style="width: 60%;">
                            <div class="hbd-des">
                                <span>Image format: JPG, JPEG, or PNG</span>
                                <span>Image sizes: 1040 × 1350</span>
                                <span>Max file size: 10 MB</span>
                            </div>
                            <div class="wrap-section" :style="`width: ${imagePreview.width}px;min-height: ${imagePreview.height}px;height: auto;`">
                                <div class="wrap-image">
                                    <LineFlex :data="hbd_data" />
                                    <div class="upload-wrap">
                                        <upload
                                            :imagePreview="imagePreview"
                                            :value="hbd_data.contents.body.contents[0].url"
                                            :min="10"
                                            :uploadUrl="uploadUrl"
                                            :showPreview="false"
                                            @input="onImageUpload"
                                            @getWidthHeight="getWidthHeight"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </v-overlay>
    </fragment>
</template>

<script>
import MessageCard from '../message/MessageCard'
import Loading from '../Loading'
import Upload from './Upload'
import SwitchToggle from '../SwitchToggle'
import LineFlex from '../LineFlex'

export default {
    props: ['label', 'icon', 'required', 'value', 'visible', 'uploadUrl', 'formDirty'],
    components: {
        MessageCard,
        Upload,
        Loading,
        SwitchToggle,
        LineFlex,
    },
    data() {
        return {
            validURI: true,
            loading: false,
            imagePreview: {
                width: 300,
                height: 390
            },
            size: {},
            hbd_data: null,
            formDirty02: false,
        }
    },
    mounted() {
        if(this.value && Object.keys(this.value).length !== 0) {
            this.hbd_data = JSON.parse(JSON.stringify(this.value))
        }
        else {
            console.log('Add Prop "Value"')
        }
    },

    methods: {
        saveHBD() {
            this.formDirty02 = true
            if(this.hbd_data.contents.body.action.display) {
                if(this.hbd_data.contents.body.action.uri) {
                    try {
                        const link = new URL(this.hbd_data.contents.body.action.uri)
                        const protocol = link.protocol
                        if(protocol !== 'https:') {
                            this.$toast.error(`URI must be https`)
                            return
                        }
                    }
                    catch (_) {
                        this.$toast.error(`URI must be https`)
                        return
                    }
                }
                else {
                    this.$toast.error(`Please input URI`)
                    return
                }
            }

            if(!this.hbd_data.contents.body.contents[0].url) {
                this.$toast.error('Please upload image')
                return
            }
            this.hbd_data.contents.body.action.altUri.desktop = this.hbd_data.contents.body.action.uri

            this.$emit('submit', this.hbd_data)
        },
        cancelHBD() {
            let hbdData = null
            if(this.value && Object.keys(this.value).length !== 0) {
                hbdData = JSON.parse(JSON.stringify(this.value))
            }
            else {
                console.log('Add Prop "Value"')
            }
            this.$emit('close')
            this.hbd_data = hbdData
            this.formDirty02 = false
        },
        onImageUpload(data, size) {
            this.hbd_data.contents.body.contents[0].url = data
        },
        getWidthHeight(width, height) {
            const imageHeightRatio = (height / width)
            const imagePreviewHeight = Number((400 * imageHeightRatio).toFixed(2))
            this.imagePreview = {
                width: 400,
                height: imagePreviewHeight
            }
        },
        onUriKeyBlur(event) {
            try {
                const link = new URL(event.target.value)
                const protocol = link.protocol
                if(protocol === 'https:') {
                    this.validURI = true
                }
                else {
                    this.validURI = false
                }
            }
            catch (_) {
                this.validURI = false
            }
        },
        onLinkActionChange() {
            this.formDirty02 = false
        }
    }
}
</script>

<style scoped>
.wrap-section {
    position: relative;
    margin: 0 auto;
}
.wrap-image {
    width: 100%;
    height: 100%;
    position: relative;
}
.wrap {
    border: 1px solid #E2E5ED;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
}
.wrap.is-invalid {
    border: 1px solid #F64E60;
}
::v-deep .v-overlay__content {
    position: absolute;
    top: 16px;
    left: auto;
    right: 16px;
    bottom: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    outline: none;
    width: 80%;
}
.message-type-menu {
    border-radius: 8px;
    border: none;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);
    margin-right: 12px;
    width: 20%;
    min-width: 220px;
    max-width: 220px;
    background-color: #FFFFFF;
    padding: 16px 20px 20px;
}
.message-type-menu_title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.70);
    margin-bottom: 8px;
}
.message-type-menu_items {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 45% 45%;
    width: 100%;
}
.message-type-menu_item {
    text-align: center;
    cursor: pointer;
}
.message-type-menu_item_icon {
    height: 60px;
    border-radius: 5px;
    border: 1px solid #C1C1C1;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;

}
.message-type-menu_item_icon > span {
    font-size: 28px;
    color: #C1C1C1;
    transition: color 0.4s ease-in-out;

}
.message-type-menu_item_label {
    font-size: 12px;
    font-weight: 600;
    color: #9A9A9A;
    transition: color 0.4s ease-in-out;

}
.message-type-menu_item.active .message-type-menu_item_icon {
    border: 1px solid #27BA08;
}
.message-type-menu_item:hover .message-type-menu_item_icon {
    border: 1px solid #27BA08;
    background-color: rgba(0,185,0,0.1);
}
.message-type-menu_item.active .message-type-menu_item_icon > span,
.message-type-menu_item.active .message-type-menu_item_label,
.message-type-menu_item:hover .message-type-menu_item_icon > span,
.message-type-menu_item:hover .message-type-menu_item_label {
    color: #27BA08;
}
.message-type-content {
    background-color: #F0F4F7;
    border-radius: 8px;
    border: none;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);
    width: 80%;
    height: 100%;
    position: relative;
}
.message-type-content_header {
    background-color: #FFFFFF;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    z-index: 2;
}
.message-type-content_body {
    padding: 74px 24px 24px;
    overflow: auto;
    height: 100%;
}
.hbd-wrap {
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.75);
    padding: 24px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    display: flex;
}
.hbd-des {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 386px;
    margin: 0 auto 24px;
}
.add-action:active,
.add-action:focus {
    color: #27BA08 !important;
    background-color: transparent !important;
    border-color: #27BA08 !important;
}
.form-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;
}
.upload-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
</style>