<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="<%= BASE_URL %>favicon.ico">
        <title><%= htmlWebpackPlugin.options.title %></title>

        <!--begin::Fonts-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap" />
        <!--end::Fonts-->
        <!--begin::Global Theme Styles(used by all pages)-->
        <link href="<%= BASE_URL %>assets/plugins/global/plugins.bundle.css?v=7.0.3" rel="stylesheet" type="text/css" />
        <link href="<%= BASE_URL %>assets/plugins/custom/uppy/uppy.bundle.css?v=7.0.3" rel="stylesheet" type="text/css" />
        <link href="<%= BASE_URL %>assets/css/style.bundle.css?v=7.0.3" rel="stylesheet" type="text/css" />
        <link href="<%= BASE_URL %>assets/css/themes/layout/header/base/light.css?v=7.0.3" rel="stylesheet" type="text/css" />
        <link href="<%= BASE_URL %>assets/css/themes/layout/header/menu/light.css?v=7.0.3" rel="stylesheet" type="text/css" />
        <link href="<%= BASE_URL %>assets/css/themes/layout/brand/light.css?v=7.0.3" rel="stylesheet" type="text/css" />
        <link href="<%= BASE_URL %>assets/css/themes/layout/aside/light.css?v=7.0.3" rel="stylesheet" type="text/css" />
        <!--end::Global Theme Styles-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    </head>
    <body>
        <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->
        <script>var HOST_URL = "https://keenthemes.com/metronic/tools/preview";</script>
        <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#115ECF", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
        <!--begin::Global Theme Bundle(used by all pages)-->
        <script src="<%= BASE_URL %>assets/plugins/global/plugins.bundle.js?v=7.0.3"></script>
        <script src="<%= BASE_URL %>assets/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.3"></script>
        <script src="<%= BASE_URL %>assets/js/scripts.bundle.js?v=7.0.3"></script>
        <script src="<%= BASE_URL %>assets/plugins/custom/uppy/uppy.bundle.js?v=7.0.3"></script>
        <!--end::Global Theme Bundle-->
    </body>
</html>
