<template>
<div>
    <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        transition="scale-transition"
        offset-y
        min-width="auto"
    >
        <template v-slot:activator="{ on }">
            <div :class="classes">
                <input
                    type="text"
                    class="form-control"
                    :placeholder="placeholder"
                    :value="computedDateFormattedMomentjs"
                    v-on="on"
                    readonly
                />
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="la la-calendar icon-lg"></i>
                    </span>
                </div>
            </div>
        </template>
        <v-date-picker
            v-model="date"
            @input="dataEscolhida"
            no-title
            header-color="green lighten-1"
            color="green lighten-1"
        ></v-date-picker>
    </v-menu>
    <span class="message-error" v-if="error && errorMessage">{{errorMessage}}</span>
</div>
</template>

<script>
import moment from 'moment'

export default {
    props: ['placeholder', 'value', 'error', 'errorMessage'],
    data() {
        return {
            menu: false,
            date: null
        }
    },
    mounted() {
        if(this.value) {
            this.date = moment(this.value).format('YYYY-MM-DD')
        }
    },
    computed: {
        computedDateFormattedMomentjs () {
            return this.value ? moment(this.value).format('DD/MM/YYYY') : ''
        },
        classes() {
            return {
                'input-group': true,
                'input-group-error': this.error,
            };
        },
    },
    methods: {
        formatDate(date) {
            const year = date.substring(0, 4)
            const month = date.substring(5, 7)
            const day = date.substring(8, 11)
            const hour = '00'
            const minute = '00'
            const second = '00'

            return year + '-' + month + '-' + day + 'T' + hour + ':' + minute + ':' + second + '.000' + 'Z'
        },
        dataEscolhida() {
            this.$emit('input', this.formatDate(this.date));
            this.menu = false;
        },
    },
}
</script>

<style scoped>
.input-group-error .form-control {
    border: 1px solid #F64E60;
}
.message-error {
    color: #F64E60;
    font-weight: 400;
    font-size: 12px !important;
    display: block;
    margin-top: 4px;
}
</style>