<template>
    <div>
        <v-menu
            :value="visible"
            bottom
            left
            offset-x
            :close-on-content-click="false"
            :close-on-click="false"
        >
            <template v-slot:activator="{ on, attrs }">
                <button
                    type="button"
                    class="btn btn-primary mt-2"
                    v-bind="attrs"
                    v-on="on"
                    @click="visible = true"
                >
                    Edit action #{{index + 1}}
                </button>
            </template>

            <div class="action-wrap">
                <div class="action-wrap-header">
                    <div class="d-flex align-items-center">
                        <div class="delete-icon-btn mr-4" @click="remove">
                            <i class="fa fa-trash"></i>
                        </div>
                        <span>Action {{index + 1}}</span>
                    </div>
                    <div class="delete-icon-btn" @click="visible = false">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="action-wrap-body">
                    <div class="form-group mb-0">
                        <label class="font-weight-medium mb-0">Width :</label>
                        <v-slider
                            thumb-label
                            min="0"
                            step="10"
                            :max="maxSizeWidth"
                            :value="area.bounds.width"
                            @input="onWidthChange"
                        />
                    </div>
                    <div class="form-group mb-0">
                        <label class="font-weight-medium mb-0">Height :</label>
                        <v-slider
                            thumb-label
                            min="0"
                            step="10"
                            :max="maxSizeHeight"
                            :value="area.bounds.height"
                            @input="onHeightChange"
                        />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-medium">Action :</label>
                        <select-option
                            :value="area.action.type"
                            :options="actionList.map(action => {
                                return {
                                    value: action.id,
                                    label: action.title,
                                }
                            })"
                            @input="onTypeChange"
                        />
                    </div>
                    <div class="form-group" v-if="area.action.type === 'message'">
                        <label class="font-weight-medium"><span class="star">*</span>Text</label>
                        <div class="d-flex align-items-center">
                            <input
                                type="text"
                                class="form-control mr-3"
                                placeholder="enter text reply display ..."
                                :value="area.action.text"
                                @input="(event) => onValueInput(event, 'message')"
                            />
                            <span>{{area.action.text.length}}/50</span>
                        </div>
                        <!-- maxlength="50" -->
                    </div>
                    <div class="form-group" v-if="area.action.type === 'uri'">
                        <div class="d-flex align-items-center">
                            <input
                                type="text"
                                class="form-control link-input"
                                placeholder="https://www.domain.com"
                                :value="area.action.uri"
                                @input="(event) => onValueInput(event, 'uri')"
                                @keyup="onUriKeyup"
                            />
                            <!-- maxlength="50" -->
                        </div>
                        <div v-if="!validURI" class="text-danger font-size-sm">URI must be https, http, tel, mailto, line, linemusic</div>
                    </div>
                    <div class="text-center text-info" v-if="area.action.type === 'location'">{{area.action.uri}}</div>
                </div>
            </div>
        </v-menu>
    </div>
</template>

<script>
import SelectOption from '../SelectOption'

export default {
    props: ['index', 'area', 'size', 'actionList'],
    components: {
        SelectOption
    },
    data() {
        return {
            validURI: true,
            visible: false,
        }
    },
    computed: {
        maxSizeWidth() {
            return this.size.width - this.area.bounds.x
        },
        maxSizeHeight() {
            return this.size.height - this.area.bounds.y
        },
    },
    methods: {
        onWidthChange(value) {
            this.$emit('boundsChange', value, 'width', this.index)
        },
        onHeightChange(value) {
            this.$emit('boundsChange', value, 'height', this.index)
        },
        onTypeChange(value) {
            if(value === 'message') {
                this.$emit('actionChange', {
                    type: 'message',
                    text: '',
                }, this.index)
            }
            else if(value === 'uri') {
                this.$emit('actionChange', {
                    type: 'uri',
                    uri: '',
                }, this.index)
            }
            else if(value === 'location') {
                this.$emit('actionChange', {
                    type: 'location',
                    uri: 'line://nv/location',
                }, this.index)
            }
            else if(value === 'display_image') {
                this.$emit('actionChange', {
                    type: 'display_image',
                }, this.index)
            }
            else {
                this.$emit('actionChange', {}, this.index)
            }
        },
        onValueInput(event, key) {
            if(key === 'message') {
                this.$emit('actionChange', {
                        type: 'message',
                        text: event.target.value,
                    }, this.index)
            }
            else if(key === 'uri') {
                this.$emit('actionChange', {
                    type: 'uri',
                    uri: event.target.value,
                }, this.index)
            }
        },
        remove() {
            this.$emit('removeArea', this.index)
        },
        onUriKeyup(event) {
            try {
                const link = new URL(event.target.value)
                const protocol = link.protocol
                if(protocol === 'https:' || protocol === 'http:' || protocol === 'tel:' || protocol === 'mailto:'|| protocol === 'line:'|| protocol === 'linemusic:') {
                    this.validURI = true
                }
                else {
                    this.validURI = false
                }
            }
            catch (_) {
                this.validURI = false
            }
        }
    }

}
</script>

<style scoped>
.action-wrap {
    width: 360px;
    background-color: #FFF;
}
.action-wrap-header {
    border-bottom: 1px solid #000;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}
.action-wrap-body {
    padding: 8px 24px 24px;
    /* height: 200px; */
}
.delete-icon-btn {
    padding: 4px;
    padding-right: 0;
    cursor: pointer;
}
.delete-icon-btn i {
    color: rgba(0, 0, 0, 0.4);
    transition: color 0.15s ease-in-out;
}
.delete-icon-btn:hover i {
    color: #DF3517;
}
.link-input {
    /* text-transform: lowercase; */
}
</style>