<template>
    <loading v-if="!rich_menu"/>
    <fragment v-else>
        <div class="wrap" :class="{'is-invalid': formDirty && required && !rich_menu.image_url }">
            <button type="button" class="btn btn-outline-primary px-12" @click="$emit('open')">
                <span class="mr-5">{{ label }}</span>
                <i :class="icon"></i>
            </button>
        </div>
        <v-overlay :value="visible" :z-index="99999" color="rgb(230, 230, 230)">
            <div class="message-type-content">
                <div class="message-type-content_header">
                    <button
                        type="button"
                        class="btn btn-danger btn-sm font-weight-bolder"
                        style="width: 80px; margin-right: 10px"
                        @click="cancelRichmenu"
                    >
                        Cancel
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary btn-sm font-weight-bolder"
                        style="width: 80px"
                        @click="saveRichmenu"
                    >
                        Save
                    </button>
                </div>
                <div class="message-type-content_body">
                    <div class="richmenu-wrap">
                        <div class="d-flex flex-column align-items-center" style="width: 25%;margin-top: 90px;">
                            <action
                                :index="index"
                                v-for="(area, index) in rich_menu.areas"
                                :key="`Action-${index}`"
                                :area="area"
                                :size="rich_menu.size"
                                :actionList="[
                                    {id: 'message', title: 'Text Reply'},
                                    {id: 'uri', title: 'Link & Tel'},
                                    {id: 'location', title: 'Share Location Action'},
                                ]"
                                @boundsChange="onBoundsChange"
                                @actionChange="onActionChange"
                                @removeArea="onAreaRemove"
                            />
                            <button
                                v-if="rich_menu.areas.length < 20"
                                type="button"
                                class="btn btn-outline-primary mt-2 add-action"
                                :disabled="!rich_menu.image_url"
                                @click="onAdd"
                            >
                                Add action #{{rich_menu.areas.length + 1}}
                            </button>
                        </div>
                        <div style="width: 60%;">
                            <div class="richmenu-des">
                                <span>Image format: JPG, JPEG, or PNG</span>
                                <span>Image sizes: 2500 × 1686, 2500 × 843, 1200 × 810, 1200 × 405, 800 × 540, 800 × 270</span>
                                <span>Max file size: 10 MB</span>
                            </div>
                            <div class="wrap-section" :style="`width: ${imagePreview.width}px;min-height: ${imagePreview.height}px;height: auto;`">
                                <div class="wrap-image">
                                    <drag-section-area
                                        v-for="(area, index) in rich_menu.areas"
                                        :key="`SectionImage-${index}`"
                                        :data="area"
                                        :index="index"
                                        :size="rich_menu.size"
                                        :preview="imagePreview"
                                        @update="onAreaUpdate"
                                    />
                                    <div class="upload-wrap">
                                        <upload
                                            :imagePreview="imagePreview"
                                            :value="rich_menu.image_url"
                                            :min="10"
                                            :uploadUrl="uploadUrl"
                                            @input="onImageUpload"
                                            @getWidthHeight="getWidthHeight"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </v-overlay>
    </fragment>
</template>

<script>
import MessageCard from '../message/MessageCard'
import Loading from '../Loading'
import Upload from './Upload'
import DragSectionArea from './DragSectionArea'
import Action from './Action'

export default {
    props: ['label', 'icon', 'required', 'value', 'formDirty', 'visible', 'uploadUrl'],
    components: {
        MessageCard,
        Upload,
        DragSectionArea,
        Action,
        Loading,
    },
     data() {
        return {
            loading: false,
            imagePreview: {
                width: 400,
                height: 135
            },
            size: {},
            rich_menu: null,
        }
    },
    mounted() {
        if(Object.keys(this.value).length !== 0) {
            this.rich_menu = JSON.parse(JSON.stringify(this.value))
        }
        this.getWidthHeight(this.rich_menu.size.width, this.rich_menu.size.height)
    },

    methods: {
        saveRichmenu() {
            let validUri = true
            this.rich_menu.areas.map(action => {
                if(action.action.uri) {
                    try {
                        const link = new URL(action.action.uri)
                        const protocol = link.protocol
                        if(protocol === 'https:' || protocol === 'http:' || protocol === 'tel:' || protocol === 'mailto:'|| protocol === 'line:'|| protocol === 'linemusic:') {
                            validUri = true
                        }
                        else {
                            validUri = false
                        }
                    }
                    catch (_) {
                        validUri = false
                    }
                }
            })
            if(this.rich_menu.image_url === '') {
                this.$toast.error('Please upload image')
                return
            }
            else if(this.rich_menu.areas.find((action, index) => action.action.uri === '' || action.action.text === '')) {
                this.$toast.error(`Please input required field.`)
                return
            }
            else if(!validUri) {
                this.$toast.error(`URI must be https, http, tel, mailto, line, linemusic`)
                return
            }
            this.$emit('submit', this.rich_menu)
        },
        cancelRichmenu() {
            const richMenu = JSON.parse(JSON.stringify(this.value))
            this.$emit('close')
            this.rich_menu = richMenu
        },
        onImageUpload(data, size) {
            this.rich_menu = {
                ...this.rich_menu,
                size,
                image_url: data,
            }
            this.getWidthHeight(size.width, size.height)
        },
        onAreaUpdate(data, index) {
            const newArea = [...this.rich_menu.areas]
            newArea[index] = data

            this.rich_menu = {
                ...this.rich_menu,
                areas: newArea
            }
        },
        getWidthHeight(width, height) {
            const imageHeightRatio = (height / width)
            const imagePreviewHeight = Number((400 * imageHeightRatio).toFixed(2))
            this.imagePreview = {
                width: 400,
                height: imagePreviewHeight
            }
        },
        onAdd() {
            const defaultAction = {
                action: {
                    type: 'message',
                    text: ''
                },
                bounds: {
                    width: 270,
                    height: 270,
                    x: 0,
                    y: 0,
                }
            }
            if(this.rich_menu.areas.length !== 0) {
                const target = this.rich_menu.areas.find(action => action.action.text === '' || action.action.uri === '')
                if(target) {
                    this.$toast.error('Please input required field.')
                    return
                }
            }
            const newArea = [...this.rich_menu.areas]
            newArea.push(defaultAction)
            this.rich_menu = {
                ...this.rich_menu,
                areas: newArea
            }
        },
        onBoundsChange(value, key, index) {
            this.rich_menu.areas[index].bounds[key] = value
        },
        onActionChange(value, index) {
            this.rich_menu.areas[index].action = value
        },
        onAreaRemove(index) {
            const areas = [...this.rich_menu.areas].filter((area, idx) => idx !== index)
            this.rich_menu.areas = areas
        }
    }
}
</script>

<style scoped>
.wrap-section {
    position: relative;
    margin: 0 auto;
}
.wrap-image {
    width: 100%;
    height: 100%;
}
.wrap {
    border: 1px solid #E2E5ED;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
}
.wrap.is-invalid {
    border: 1px solid #F64E60;
}
::v-deep .v-overlay__content {
    position: absolute;
    top: 16px;
    left: auto;
    right: 16px;
    bottom: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    outline: none;
    width: 80%;
}
.message-type-menu {
    border-radius: 8px;
    border: none;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);
    margin-right: 12px;
    width: 20%;
    min-width: 220px;
    max-width: 220px;
    background-color: #FFFFFF;
    padding: 16px 20px 20px;
}
.message-type-menu_title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.70);
    margin-bottom: 8px;
}
.message-type-menu_items {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 45% 45%;
    width: 100%;
}
.message-type-menu_item {
    text-align: center;
    cursor: pointer;
}
.message-type-menu_item_icon {
    height: 60px;
    border-radius: 5px;
    border: 1px solid #C1C1C1;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;

}
.message-type-menu_item_icon > span {
    font-size: 28px;
    color: #C1C1C1;
    transition: color 0.4s ease-in-out;

}
.message-type-menu_item_label {
    font-size: 12px;
    font-weight: 600;
    color: #9A9A9A;
    transition: color 0.4s ease-in-out;

}
.message-type-menu_item.active .message-type-menu_item_icon {
    border: 1px solid #27BA08;
}
.message-type-menu_item:hover .message-type-menu_item_icon {
    border: 1px solid #27BA08;
    background-color: rgba(0,185,0,0.1);
}
.message-type-menu_item.active .message-type-menu_item_icon > span,
.message-type-menu_item.active .message-type-menu_item_label,
.message-type-menu_item:hover .message-type-menu_item_icon > span,
.message-type-menu_item:hover .message-type-menu_item_label {
    color: #27BA08;
}
.message-type-content {
    background-color: #F0F4F7;
    border-radius: 8px;
    border: none;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);
    width: 80%;
    height: 100%;
    position: relative;
}
.message-type-content_header {
    background-color: #FFFFFF;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    z-index: 2;
}
.message-type-content_body {
    padding: 74px 24px 24px;
    overflow: auto;
    height: 100%;
}
.richmenu-wrap {
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.75);
    padding: 24px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    display: flex;
}
.richmenu-des {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 386px;
    margin: 0 auto 24px;
}
.add-action:active,
.add-action:focus {
    color: #27BA08 !important;
    background-color: transparent !important;
    border-color: #27BA08 !important;
}
</style>