<template>
    <div class="preview-card" :style="`margin-bottom: ${openPreview ? '0px' : '-584px'}`">
        <div class="preview-card_header" @click="openPreview = !openPreview">
            <div class="preview-card_row">
                <i :class="`fas fa-caret-${openPreview ? 'down' : 'up'}`"></i>
                <span class="title">{{accountName}}</span>
            </div>
        </div>
        <div class="preview-card_body" :style="`height: ${imageMenu ? height : '540px'}`"></div>
        <div class="preview-card_menu" v-if="imageMenu">
            <img :src="imageMenu" id="menuImage" />
        </div>
        <div class="preview-card_footer">
            <span>{{chatBarTitle}}</span>
        </div>
    </div>
</template>

<script>
export default {
    props: ['chatBarTitle', 'accountName', 'imageMenu', 'size'],
    data() {
        return {
            openPreview: false,
        }
    },
    computed: {
        height() {
            if(this.size.width / this.size.height > 2) {
                return '415px'
            }
            else {
                return '290px'
            }
        }
    }
}
</script>

<style scoped>
.preview-card {
    position: fixed;
    right: 26px;
    bottom: 0;
    z-index: 9999;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    transition: margin 0.3s ease-in-out;
    background-color: #666f86;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    max-width: 370px;
}
.preview-card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    background-color: #353a40;
    color: #FFFFFF;
    cursor: pointer;
}
.preview-card_header .fa-sort-desc {
    font-size: 15px;
}
.preview-card_header .title {
    margin-left: 12px;
    display: inline-block;
}
.preview-card_body {
    width: 370px;
    height: 540px;
    overflow-y: auto;
    overflow-x: hidden !important;
    padding: 20px;
    padding-right: 0 !important;
    user-select: none;
}
.preview-card_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #353a40;
    color: #FFFFFF;
    height: 43px;
}
.preview-card_menu img {
    width: 100%;
}
</style>