<template>
    <layout-default
        currentPage="Menu A"
        title="Menu A"
        :hasButton="true"
    >
        <template v-slot:icon>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24"/>
                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                    <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1"/>
                    <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1"/>
                </g>
            </svg>
        </template>
        <div class="p-16">
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>HBD Card</h6>
                    <add-card
                        label="Add HBD Card"
                        icon="fas fa-birthday-cake"
                        :value="formData.hbd[0]"
                        :required="true"
                        :formDirty="formDirty"
                        :visible="hbdVisible"
                        :uploadUrl="`https://48b6x94xdk.execute-api.ap-southeast-1.amazonaws.com/prod/api/v1/upload`"
                        @open="hbdVisible = true"
                        @close="onHBDClose"
                        @submit="onHBDSubmit"
                    />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Display flex</h6>
                    <LineFlex :data="formData.hbd[0]" />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Message type</h6>
                    <add-message
                        label="Add Message"
                        icon="far fa-paper-plane"
                        :value="formData.messages"
                        :required="true"
                        :formDirty="formDirty"
                        :visible="messageTypeVisible"
                        :uploadUrl="`https://48b6x94xdk.execute-api.ap-southeast-1.amazonaws.com/prod/api/v1/upload`"
                        :messageList="[
                            'Text',
                            'Image',
                            'Rich Message',
                            'Personalize',
                        ]"
                        :typeTextActionList="[
                            'First Name',
                            'Last Name',
                            'Point',
                        ]"
                        @open="messageTypeVisible = true"
                        @close="onMessageTypeClose"
                        @submit="onMessageTypeSubmit"
                    />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Rich menu</h6>
                    <add-menu
                        label="Add Rich Menu"
                        icon="far fa-paper-plane"
                        :value="formData.rich_menu"
                        :required="true"
                        :formDirty="formDirty"
                        :visible="richMenuVisible"
                        :uploadUrl="`https://48b6x94xdk.execute-api.ap-southeast-1.amazonaws.com/prod/api/v1/upload`"
                        @open="richMenuVisible = true"
                        @close="onRichMenuClose"
                        @submit="onRichMenuSubmit"
                    />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Add button and Add link</h6>
                    <div class="mb-2">
                        <add-link to="/" label="I'm link" />
                    </div>
                    <add-link @click="onAddLinkClick" label="I'm button" />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Copy to Clipboard</h6>
                    <clipboard value="https://www.google.com" placeholder=""/>
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Color picker</h6>
                    <colorpicker v-model="formData.color"/>
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Date picker</h6>
                    <datepicker
                        v-model="formData.date"
                        format="dd/mm/yyyy"
                        :formDirty="formDirty"
                        :required="true"
                    />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Date picker 2</h6>
                    <BaseDatePicker
                        placeholder="select date ..."
                        v-model="formData.date"
                    />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Date picker range</h6>
                    <datepicker-range
                        v-model="dates"
                        :required="true"
                        :formDirty="formDirty"
                        fotmat="DD/MM/YYYY HH:mm"
                        placeholder="enter start date - end date ..."
                    />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Date picker range 2</h6>
                    <BaseDatePickerRange
                        placeholder="enter start date - end date ..."
                        v-model="dates"
                    />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Time picker</h6>
                    <timepicker
                        v-model="formData.time"
                        :formDirty="formDirty"
                        :required="true"
                        :minuteStep="30"
                    />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Loading</h6>
                    <button type="button" class="btn btn-primary mr-6" @click="loading = true">Show loading</button>
                    <span class="text-muted font-size-sm">Press "ESC" to close loading</span>
                    <loading v-if="loading"/>
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Upload file button (wrap)</h6>
                    <upload-file-wrap>
                        <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                    </upload-file-wrap>
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Upload image</h6>
                    <upload-image-preview
                        v-if="!loading"
                        size="1"
                        v-model="formData.img_url"
                        previewWidth="200px"
                        previewHeight="200px"
                        uploadUrl="https://lineoa-api-nonprod.tdshop.io/uploadImageBase64"
                        @remove="formData.img_url = ''"
                        @errorResponse="onUploadError"
                    />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Upload video</h6>
                    <upload-video-preview
                        size="10"
                        v-model="formData.video_url"
                        previewWidth="200px"
                        previewHeight="200px"
                        @remove="formData.video_url = ''"
                    />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Search input</h6>
                    <search-input placeholder="Search text" v-model="formData.search_text" />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Select option 1</h6>
                    <select-option
                        placeholder="Status"
                        v-model="formData.search_status"
                        :options="[{
                                value: '1',
                                label: 'On'
                            }, {
                                value: '0',
                                label: 'Off'
                            }]"
                    />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Select option 2</h6>
                    <BaseSelectOption
                        placeholder="Status"
                        v-model="formData.search_status"
                        :options="[{
                            header: 'Data Point',
                        },{
                            value: '1',
                            text: 'On',
                        }, {
                            value: '0',
                            text: 'Off'
                        }]"
                    />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Auto Completes</h6>
                    <BaseAutoCompletes
                        placeholder="enter search keyword ..."
                        v-model="formData.search_status"
                        :options="[{
                            value: '1',
                            text: 'On',
                        }, {
                            value: '0',
                            text: 'Off'
                        }]"
                    />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Switch Toggle</h6>
                    <switch-toggle
                        :v-model="formData.is_active"
                    />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Text Editor</h6>
                    <texteditor v-model="formData.detail"/>
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Radio</h6>
                    <radio
                        :list="enableOptions"
                        v-model="formData.is_active"
                        name="enableOptions"
                        type="vertical"
                    />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Area Chart</h6>
                    <area-chart
                        element="targetReach"
                        :series="[{
                            name: 'Target reach',
                            data: [31, 40, 28, 51, 42]
                        }]"
                        :categories="['Jan', 'Feb', 'Mar', 'Apr', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']"
                        :color="['#5E81F4']"
                    />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-6">
                    <h6>Line Chart</h6>
                    <line-chart
                        element="messageSend"
                        :series="[{
                            name: 'Message',
                            data: [12, 30, 10, 4, 50, 40, 30, 20],
                            pointStart: Date.UTC(2020, 0, 1),
                            pointInterval: 24 * 36e5
                        }]"
                    />
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-12">
                    <h6>Datatable</h6>
                    <data-table
                        :headers="headers"
                        :data="tableData"
                        :filter="filterData"
                        :loading="loading"
                        @change="onTableChange"
                    >
                        <template v-slot:item.index="{ item }">
                            <span>
                                {{(tableData.rows.map(function(x) {return x.id; }).indexOf(item.id) + 1) + filterData.offset}}
                            </span>
                        </template>
                    </data-table>
                </div>
            </div>
            <div class="row mb-10">
                <div class="col-lg-12">
                    <h6>Datatable Select</h6>
                    <data-table
                        :headers="headers"
                        :data="tableData"
                        :filter="filterData"
                        @change="onTableChange"
                        showSelect
                        @selected="onUserSelected"
                    >
                        <template v-slot:item.index="{ item }">
                            <span>
                                {{(tableData.rows.map(function(x) {return x.id; }).indexOf(item.id) + 1) + filterData.offset}}
                            </span>
                        </template>
                        <template v-slot:item.display_image="{ item }">
                            <div class="symbol">
                                <img alt="Pic" :src="item.display_image || defaultImg" @error="replaceByDefault"/>
                            </div>
                        </template>
                    </data-table>
                </div>
            </div>
        </div>
        <preview-message :messages="formData.hbd" />
        <!-- <preview-richmenu :messages="formData.messages" /> -->
        <template v-slot:footer>
            <button type="button" class="btn btn-primary px-12" @click="onSubmit" :disabled="loading">บันทึก</button>
        </template>
    </layout-default>
</template>

<script>
import { listing } from '@/api/apis'

import AddMessage from './components/general/message/AddMessage'
import AddMenu from './components/general/rich-menu/AddRichMenu'
import AddCard from './components/general/hbd/AddCard'
import PreviewMessage from './components/general/message/Preview'
import PreviewRichmenu from './components/general/rich-menu/Preview'
import AddLink from './components/general/AddLink'
import Clipboard from './components/general/Clipboard'
import Colorpicker from './components/general/Colorpicker'
import Loading from './components/general/Loading'
import DataTable from './components/general/DataTable'
import Datepicker from './components/general/Datepicker'
import DatepickerRange from './components/general/DatepickerRange'
import Radio from './components/general/Radio'
import SearchInput from './components/general/SearchInput'
import SelectOption from './components/general/SelectOption'
import SwitchToggle from './components/general/SwitchToggle'
import Texteditor from './components/general/Texteditor'
import Timepicker from './components/general/Timepicker'
import UploadFileWrap from './components/general/UploadFileWrap'
import UploadImagePreview from './components/general/UploadImagePreview'
import UploadVideoPreview from './components/general/UploadVideoPreview'
import LayoutDefault from './layouts/Default'
import AreaChart from './components/charts/AreaChart'
import LineChart from './components/charts/LineChart'
import BaseSelectOption from './components/general/BaseSelectOption'
import BaseDatePicker from './components/general/BaseDatePicker'
import BaseDatePickerRange from './components/general/BaseDatePickerRange'
import BaseAutoCompletes from './components/general/BaseAutoCompletes'
import LineFlex from './components/general/LineFlex'

export default {
    components: {
        AddMessage,
        AddMenu,
        AddCard,
        PreviewMessage,
        PreviewRichmenu,
        AddLink,
        Clipboard,
        Colorpicker,
        Loading,
        DataTable,
        Datepicker,
        DatepickerRange,
        Radio,
        SearchInput,
        SelectOption,
        SwitchToggle,
        Texteditor,
        Timepicker,
        UploadFileWrap,
        UploadImagePreview,
        UploadVideoPreview,
        LayoutDefault,
        AreaChart,
        LineChart,
        BaseSelectOption,
        BaseDatePicker,
        BaseDatePickerRange,
        BaseAutoCompletes,
        LineFlex,
    },
    data() {
        return {
            loading: false,
            formDirty: false,
            messageTypeVisible: false,
            richMenuVisible: false,
            hbdVisible: false,
            dates: ['2021-03-24T00:00:00.000Z', '2021-03-30T00:00:00.000Z'],
            defaultImg: 'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png',
            formData: {
                messages: [],
                rich_menu: {
                    image_url: '',
                    size: {
                        width: 2500,
                        height: 1686
                    },
                    selected: false,
                    name: "Nice richmenu",
                    chatBarText: "Menu",
                    areas: []
                },
                color: '#000000',
                date: '2021-03-24T00:00:00.000Z',
                is_active: true,
                search_text: '',
                search_status: '',
                detail: '',
                time: '',
                img_url: '',
                video_url: '',
                hbd:  [{
                    type: "flex",
                    altText: "this is a flex message",
                    contents: {
                        "type": "bubble",
                        "body": {
                            "type": "box",
                            "layout": "vertical",
                            "contents": [
                                {
                                    "type": "image",
                                    "url": "",
                                    "size": "full",
                                    "aspectMode": "cover",
                                    "aspectRatio": "3:4",
                                    "gravity": "center"
                                },
                                {
                                    "type": "box",
                                    "layout": "vertical",
                                    "contents": [
                                        {
                                            "type": "box",
                                            "layout": "vertical",
                                            "contents": [
                                                {
                                                    "type": "text",
                                                    "text": "27",
                                                    "offsetStart": "41px",
                                                    "size": "xl",
                                                    "weight": "bold",
                                                    "offsetBottom": "7px"
                                                },
                                                {
                                                    "type": "text",
                                                    "text": "February",
                                                    "offsetStart": "25px",
                                                    "offsetBottom": "10px",
                                                    "size": "xs",
                                                    "weight": "bold"
                                                },
                                                {
                                                    "type": "text",
                                                    "text": "2021",
                                                    "offsetStart": "39px",
                                                    "offsetBottom": "10px",
                                                    "size": "xs"
                                                }
                                            ],
                                            "offsetBottom": "md"
                                        },
                                        {
                                            "type": "box",
                                            "layout": "vertical",
                                            "contents": [
                                                {
                                                    "type": "box",
                                                    "layout": "vertical",
                                                    "contents": [
                                                        {
                                                            "type": "image",
                                                            "url": "https://scdn.line-apps.com/n/channel_devcenter/img/flexsnapshot/clip/clip13.jpg",
                                                            "size": "full",
                                                            "aspectMode": "cover"
                                                        }
                                                    ],
                                                    "width": "110px",
                                                    "height": "110px",
                                                    "cornerRadius": "100px"
                                                }
                                            ],
                                            "paddingStart": "93px",
                                            "offsetBottom": "52px"
                                        },
                                        {
                                            "type": "box",
                                            "layout": "vertical",
                                            "contents": [
                                                {
                                                    "type": "box",
                                                    "layout": "vertical",
                                                    "contents": [
                                                        {
                                                            "type": "box",
                                                            "layout": "horizontal",
                                                            "contents": [
                                                                {
                                                                    "type": "text",
                                                                    "text": "คุณ [First_name] [Last_name]",
                                                                    "size": "md",
                                                                    "color": "#000000",
                                                                    "align": "center",
                                                                    "adjustMode": "shrink-to-fit"
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "spacing": "xs"
                                                }
                                            ],
                                            "paddingTop": "20px",
                                            "offsetBottom": "56px",
                                            "display": true,
                                        }
                                    ],
                                    "position": "absolute",
                                    "offsetStart": "0px",
                                    "offsetEnd": "0px",
                                    "paddingTop": "116px",
                                    "paddingBottom": "155px"
                                }
                            ],
                            "paddingAll": "0px",
                            "action": {
                                "type": "uri",
                                "label": "action",
                                "uri": "",
                                "altUri": {
                                    "desktop": ""
                                },
                                "display": false,
                            }
                        }
                    }
                }]
            },
            filterData: {
                sort: "",
                order: "asc",
                offset: 0,
                limit: 10,
                filter: {
                    name: '',
                    is_active: '',
                }
            },
            tableData: {
                rows: [],
                total: 0,
            },
            headers: [
                {
                    text: '#',
                    align: 'center',
                    value: 'index',
                    width: 50,
                    sortable: false,
                },
                {
                    text: 'Title',
                    value: 'name',
                    width: 200,
                },
                {
                    text: 'Status',
                    value: 'is_active',
                    width: 110,
                },
                {
                    text: 'Actions',
                    value: 'actions',
                    sortable: false,
                    width: 220,
                },
            ],
            enableOptions: [
                {
                    value: true,
                    label: 'On',
                },
                {
                    value: false,
                    label: 'Off',
                },
            ],
            message: {
                type: "flex",
                altText: "this is a flex message",
                contents: {
                    "type": "bubble",
                    "body": {
                        "type": "box",
                        "layout": "vertical",
                        "contents": [
                        {
                            "type": "box",
                            "layout": "vertical",
                            "contents": []
                        },
                        {
                            "type": "image",
                            "url": "https://s3.ap-southeast-1.amazonaws.com/cdn.yellow-idea.com/thaipbshr/Happy-Birthday-card-%E0%B8%8A%E0%B8%B2%E0%B8%A2---2.jpg",
                            "size": "full",
                            "aspectMode": "cover",
                            "aspectRatio": "3:4",
                            "gravity": "center"
                        },
                        {
                            "type": "box",
                            "layout": "vertical",
                            "contents": [
                            {
                                "type": "box",
                                "layout": "vertical",
                                "contents": [
                                {
                                    "type": "text",
                                    "text": "27",
                                    "offsetStart": "55px",
                                    "size": "xl",
                                    "weight": "bold",
                                    "offsetBottom": "7px"
                                },
                                {
                                    "type": "text",
                                    "text": "February",
                                    "offsetStart": "40px",
                                    "offsetBottom": "10px",
                                    "size": "xs",
                                    "weight": "bold"
                                },
                                {
                                    "type": "text",
                                    "text": "2021",
                                    "offsetStart": "55px",
                                    "offsetBottom": "10px",
                                    "size": "xs"
                                }
                                ],
                                "offsetBottom": "md"
                            },
                            {
                                "type": "box",
                                "layout": "vertical",
                                "contents": [
                                {
                                    "type": "box",
                                    "layout": "vertical",
                                    "contents": [
                                    {
                                        "type": "image",
                                        "url": "https://scdn.line-apps.com/n/channel_devcenter/img/flexsnapshot/clip/clip13.jpg",
                                        "size": "full",
                                        "aspectMode": "cover"
                                    }
                                    ],
                                    "width": "110px",
                                    "height": "110px",
                                    "cornerRadius": "100px"
                                }
                                ],
                                "paddingStart": "93px",
                                "offsetBottom": "66px"
                            },
                            {
                                "type": "box",
                                "layout": "vertical",
                                "contents": [
                                {
                                    "type": "box",
                                    "layout": "vertical",
                                    "contents": [
                                    {
                                        "type": "box",
                                        "layout": "horizontal",
                                        "contents": [
                                        {
                                            "type": "text",
                                            "text": "คุณ [First_name] [Last_name]",
                                            "size": "md",
                                            "color": "#000000",
                                            "align": "center",
                                            "adjustMode": "shrink-to-fit"
                                        }
                                        ]
                                    }
                                    ],
                                    "spacing": "xs"
                                }
                                ],
                                "paddingTop": "20px",
                                "offsetBottom": "66px",
                                "display": false,
                            }
                            ],
                            "position": "absolute",
                            "offsetStart": "0px",
                            "offsetEnd": "0px",
                            "paddingTop": "139px",
                            "paddingBottom": "160px"
                        }
                        ],
                        "paddingAll": "0px",
                        "action": {
                            "type": "uri",
                            "label": "action",
                            "uri": "http://linecorp.com/"
                        }
                    }
                },
            },
        }
    },
    created() {
        document.addEventListener('keyup', (evt) => {
            if (evt.keyCode === 27) {
                this.loading = false
            }
        });
    },
    mounted() {
        this.getAll()
    },
    methods: {
        async getAll() {
            // this.loading = true

            // await listing({
            //     payload: this.filterData,
            //     cbSuccess: res => {
            //         if (res.status === 200) {
            //             this.tableData.rows = res.data.rows
            //             this.tableData.total = res.data.total
            //         }
            //         this.loading = false
            //     },
            //     cbError: err => {
            //         if(err) {
            //             console.log('err:', err)
            //         }
            //         this.loading = false
            //     }
            // })
        },
        onMessageTypeClose() {
            this.messageTypeVisible = false
        },
        onMessageTypeSubmit() {
            this.messageTypeVisible = false
        },
        onRichMenuClose() {
            this.richMenuVisible = false
        },
        onRichMenuSubmit() {
            this.richMenuVisible = false
        },
        onHBDClose() {
            this.hbdVisible = false
        },
        onHBDSubmit(data) {
            const newMessages = []
            newMessages.push(data)
            this.formData.hbd = newMessages
            this.hbdVisible = false
        },
        onAddLinkClick() {
            alert("Hello")
        },
        onTableChange(offset, limit) {
            this.filterData.offset = offset
            this.filterData.limit = limit
            this.getAll()
        },
        onUserSelected(users) {
            console.log('users:', users)
        },
        onSubmit() {},
        replaceByDefault(event) {
            event.target.src = this.defaultImg
        },
        onUploadError(response) {
            console.log('response', response)
        }
    }
}
</script>