<template>
    <div class="header-fixed header-mobile-fixed subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable">
        <div class="d-flex flex-column flex-root">
            <nav-bar
                :currentPage="currentPage"
                :subMenu="subMenu"
                homeLink="/loyalty/home"
                :userProfile="userProfile"
                :menuItems="mainMenu"
                :logout="logout"
                :showCRMLogo="true"
            />
            <div class="d-flex flex-column flex-row-fluid wrapper" :class="{'content-minimize': sidebar}" >
                <header-bar
                    :logout="logout"
                    :userProfile="userProfile"
                    v-if="!isMobile()"
                />
                <header-modile :userProfile="userProfile" v-else/>
                <div class="card card-custom"  style="height: 100%; box-shadow: none">
                    <div class="card-header flex-wrap border-0 pt-3 pb-3 align-items-center">
                        <div class="card-title">
                            <span class="svg-icon mr-2">
                                <slot name="icon" />
                                {{ icon }}
                            </span>
                            <h3 class="card-label">{{ title }}</h3>
                        </div>
                        <div>
                            <slot name="center"></slot>
                        </div>
                        <div>
                            <slot name="right"></slot>
                        </div>
                    </div>
                    <div class="separator separator-solid"></div>
                    <slot />
                    <div
                        v-if="!isMobile()"
                        class="fixed-bottom d-flex align-items-center"
                        :style="`border-top: 1px solid #EAEDF3;background-color: #FFF;width: ${hasButton ? '100%' : '264px'}; z-index: 100`"
                    >
                        <div class="d-flex align-items-center justify-content-center" style="width: 264px;">
                            <img class="w-100" src="../assets/logos/logo-yellow-idea.svg" style="padding: 10px 50px" />
                        </div>
                        <div v-if="hasButton" class="d-flex align-items-center justify-content-start px-16">
                            <slot name="footer"></slot>
                        </div>
                    </div>
                    <div
                        v-else
                        class="d-flex align-items-center justify-content-center py-5"
                        style="background-color: #FFF"
                    >
                        <slot name="footer"></slot>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import NavBar from '../components/layouts/Nav'
import HeaderBar from '../components/layouts/HeaderBar'
import HeaderModile from '../components/layouts/HeaderModile'

export default {
    props: ['currentPage', 'subMenu', 'hasButton', 'icon', 'title'],
    components: {
        NavBar,
        HeaderBar,
        HeaderModile,
    },
    computed: {
        sidebar() {
            return this.$store.state.sidebar;
        },
    },
    data() {
        // const profile = $cookies.get("ADMIN_PROFILE_DATA")
        // if(this.$router.history.current.path === '/account') {
        //     delete profile.bot_id
        //     $cookies.set('ADMIN_PROFILE_DATA', JSON.stringify(profile), "3h")
        // }
        return {
            userProfile: {
                mid: 'Ua8a8aeeeacd8307888e7df74e9eab83b',
                display_name:'เรียกหนูว่าอิ๋ว🐹',
                display_image: 'https%3A%2F%2Fprofile.line-scdn.net%2F0hMuLc4MS6ElpxGjiRORJtDU1fHDcGNBQSCXsKbwQeRGNfK1JeSnRebAFIHGtVfwIPSikNP1JNTGNa'
            },
            mainMenu: [
                {
                    title : "Main Menu" ,
                    items : [
                        {
                            icon : `<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"/>
                                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                            <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1"/>
                                            <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1"/>
                                        </g>
                                    </svg>` ,
                            label : "Menu A" ,
                            to : "/",
                            outside: false,
                        },
                        {
                            icon : `<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"/>
                                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                            <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1"/>
                                            <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1"/>
                                        </g>
                                    </svg>` ,
                            label : "Menu B" ,
                            to : "/",
                            outside: false,
                        },
                        {
                            icon : `<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"/>
                                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                            <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1"/>
                                            <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1"/>
                                        </g>
                                    </svg>` ,
                            label : "Menu C" ,
                            to : "/",
                            outside: false,
                        },
                        {
                            icon : `<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"/>
                                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                            <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1"/>
                                            <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1"/>
                                        </g>
                                    </svg>` ,
                            label : "Menu D" ,
                            to : "/",
                            outside: false,
                        },
                        {
                            icon : `<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"/>
                                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                            <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1"/>
                                            <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1"/>
                                        </g>
                                    </svg>` ,
                            label : "Menu E" ,
                            to : "/",
                            outside: false,
                        },
                    ]
                }
            ],
        }
    },
    methods: {
        isMobile() {
            if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                return true
            } else {
                return false
            }
        },
        menuItems() {
            // if(this.userProfile.is_new === '1' || !this.userProfile.bot_id) {
            //     return this.menuRegister
            // }
            // else {
            //     if(this.userProfile.role_id === '1') {
            //         return this.menuAdmin
            //     }
            //     else if (this.userProfile.role_id === '2') {
            //         return this.menuUserPoint
            //     }
            //     else if (this.userProfile.role_id === '3') {
            //         return this.menuReporter
            //     }
            //     else {
            //         return this.menuRegister
            //     }
            // }
        },
        logout() {
            // this.$cookies.remove("ADMIN_PROFILE_DATA")
            // this.$router.push('/logout')
        },
    },
}
</script>

<style scoped>
.content-minimize {
    padding-left: 70px !important;
}
</style>